{% render 'views/head.liquid' %}

<header>
  <nav class="header-nav">
    <details class="snapmap-dropdown">
      <summary class="map-title-btn">{{ snapmap.name }}</summary>
      <ul class="snapmap-dropdown-list">
        {% for sm in snapmaps %}
          <li>
            <a href="/snapmap/{{ sm.uuid }}">{{ sm.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </details>
    <button class="nav-grid-btn" type="button">
      <img src="/grid.svg" alt="" width="22" height="22">
    </button>
  </nav>
</header>

<main>
  {% if groep %}
    <div class="group-bar">
      <img class="group-icon" src="/GroupST-copy.svg" alt="" width="20" height="20">
      <a href="/groep/{{ groep.uuid }}" class="group-bar-name">{{ groep.name }}</a>
    </div>
  {% endif %}

  <div class="camera-section">
    <button class="camera-btn" type="button">
      <img src="/camera-alt.svg" alt="" width="120" height="120">
    </button>
  </div>

  <ul class="photo-grid">
    {% for snap in snaps %}
      <li class="photo-item">
        {% if snap.picture %}
          <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture }}" alt="snap">
        {% else %}
          <img src="/placeholder.jpeg" alt="">
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</main>

{% render 'views/foot.liquid', activePage: activePage %}
